
<button type="button" class="list-tool btn btn-success" title="Execute notice"
        data-jam="ModalUserAction"
        data-url="<%- _url('execute', model) %>"
        data-reload="true">
        <span class="fa fa-play"></span>
</button>