
<button type="button" class="list-tool btn btn-success" title="Create notice message"
        data-jam="ModalUserAction"
        data-url="<%- _url('create-message', model) %>"
        data-reload="true">
        <span class="fa fa-play"></span>
</button>