<!-- admin/_part/nav/sideMenu -->

<div class="nav-tree" data-jam="NavTree">

    <div class="nav-item">
        <a href="admin/user" class="nav-link">
            <span data-t="">Users</span>
        </a>
    </div>

    <div class="nav-item tree">
        <a href="javascript:void(0)" class="nav-link">
            <span data-t="">Security</span>
            <span class="arrow fa fa-angle-left"></span>
        </a>
        <div class="nav-children">
            <div class="nav-item">
                <a href="admin/rbac/meta-item" class="nav-link">
                    <span data-t="">Metadata permissions</span>
                </a>
            </div>
            <div class="nav-item">
                <a href="admin/rbac/item/permissions" class="nav-link">
                    <span data-t="">Permissions</span>
                </a>
            </div>
            <div class="nav-item">
                <a href="admin/rbac/item/roles" class="nav-link">
                    <span data-t="">Roles</span>
                </a>
            </div>
            <div class="nav-item">
                <a href="admin/rbac/assignment-rule" class="nav-link">
                    <span data-t="">Assignment rules</span>
                </a>
            </div>
            <div class="nav-item">
                <a href="admin/rbac/rule" class="nav-link">
                    <span data-t="">Rules</span>
                </a>
            </div>
        </div>
    </div>

    <div class="nav-item tree">
        <a href="javascript:void(0)" class="nav-link">
            <span data-t="">Informing</span>
            <span class="arrow fa fa-angle-left"></span>
        </a>
        <div class="nav-children">
            <div class="nav-item">
                <a href="admin/notification" class="nav-link">
                    <span data-t="">Notifications</span>
                </a>
            </div>
            <div class="nav-item">
                <a href="admin/notification-message" class="nav-link">
                    <span data-t="">Messages</span>
                </a>
            </div>
            <div class="nav-item">
                <a href="admin/popup-notification" class="nav-link">
                    <span data-t="">Popup notifications</span>
                </a>
            </div>
            <div class="nav-item">
                <a href="admin/user-filter" class="nav-link">
                    <span data-t="">User filters</span>
                </a>
            </div>
        </div>
    </div>

    <div class="nav-item tree">
        <a href="javascript:void(0)" class="nav-link">
            <span data-t="">Events</span>
            <span class="arrow fa fa-angle-left"></span>
        </a>
        <div class="nav-children">
            <div class="nav-item">
                <a href="admin/listener" class="nav-link">
                    <span data-t="">Listeners</span>
                </a>
            </div>
            <div class="nav-item">
                <a href="admin/event-handler" class="nav-link">
                    <span data-t="">Event handlers</span>
                </a>
            </div>
        </div>
    </div>

    <div class="nav-item">
        <a href="admin/task" class="nav-link">
            <span data-t="">Tasks</span>
        </a>
    </div>

    <div class="nav-item">
        <a href="admin/table" class="nav-link">
            <span data-t="">Database</span>
        </a>
    </div>

    <div class="nav-item">
        <a href="admin/log" class="nav-link">
            <span data-t="">Logs</span>
        </a>
    </div>

    <div class="nav-item tree">
        <a href="javascript:void(0)" class="nav-link">
            <span data-t="">Upload</span>
            <span class="arrow fa fa-angle-left"></span>
        </a>
        <div class="nav-children">
            <div class="nav-item">
                <a href="admin/raw-file" class="nav-link">
                    <span data-t="">Raw files</span>
                </a>
            </div>
        </div>
    </div>
</div>