<!-- admin/view/_part/menu/sideMenu -->

<ul class="sidebar-menu tree-menu" data-widget="tree" data-jam="TreeMenu">

    <li class="menu-item">
        <a href="admin/user" class="menu-item-btn">
            <span data-t="">Users</span>
        </a>
    </li>

    <li class="menu-item treeview">
        <a href="javascript:void(0)" class="menu-item-btn">
            <span data-t="">Security</span>
            <i class="arrow fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li class="menu-item">
                <a href="admin/rbac/meta-item" class="menu-item-btn">
                    <span data-t="">Metadata permissions</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="admin/rbac/item/permissions" class="menu-item-btn">
                    <span data-t="">Permissions</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="admin/rbac/item/roles" class="menu-item-btn">
                    <span data-t="">Roles</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="admin/rbac/assignment-rule" class="menu-item-btn">
                    <span data-t="">Assignment rules</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="admin/rbac/rule" class="menu-item-btn">
                    <span data-t="">Rules</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="menu-item treeview">
        <a href="javascript:void(0)" class="menu-item-btn">
            <span data-t="">Informing</span>
            <i class="arrow fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li class="menu-item">
                <a href="admin/notice" class="menu-item-btn">
                    <span data-t="">Notices</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="admin/notice-message" class="menu-item-btn">
                    <span data-t="">Messages</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="admin/recipient" class="menu-item-btn">
                    <span data-t="">Recipients</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="admin/user-filter" class="menu-item-btn">
                    <span data-t="">User filters</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="menu-item treeview">
        <a href="javascript:void(0)" class="menu-item-btn">
            <span data-t="">Events</span>
            <i class="arrow fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li class="menu-item">
                <a href="admin/listener" class="menu-item-btn">
                    <span data-t="">Listeners</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="admin/event-handler" class="menu-item-btn">
                    <span data-t="">Event handlers</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="menu-item">
        <a href="admin/task" class="menu-item-btn">
            <span data-t="">Tasks</span>
        </a>
    </li>
    <li class="menu-item">
        <a href="admin/table" class="menu-item-btn">
            <span data-t="">Database</span>
        </a>
    </li>
    <li class="menu-item">
        <a href="admin/log" class="menu-item-btn">
            <span data-t="">Logs</span>
        </a>
    </li>
    <li class="menu-item treeview">
        <a href="javascript:void(0)" class="menu-item-btn">
            <span data-t="">Upload</span>
            <i class="arrow fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li class="menu-item">
                <a href="admin/raw-file" class="menu-item-btn">
                    <span data-t="">Raw files</span>
                </a>
            </li>
        </ul>
    </li>
</ul>