
.skin-yellow .main-header .navbar {
    background-color: #b79c72;
}
.skin-yellow .main-header .logo {
    background-color: #9e7d4b;
}
.skin-yellow .main-header .logo:hover,
.skin-yellow .main-header .navbar .sidebar-toggle:hover {
    background-color: #a57e44;
}
.skin-yellow-light .sidebar-menu > li.active > a {
    border-left-color: #b79c72;
}