<!-- admin/notification-message/_toolSend -->
<button type="button" class=" btn-success btn" title="Send message"
        data-jam="PostUserAction"
        data-url="<%- _url('send', model) %>"
        data-reload="true">
        <i class="fa fa-share"></i>
</button>