<!-- admin/_part/tool/deleteExpired -->
<button data-jam="PostUserAction"
        data-url="admin/login-session/delete-expired"
        title="Delete expired sessions"
        class="btn-outline-danger btn"
        type="button">
    <i class="fas fa-calendar-times"></i>
</button>