<!-- _part/tool/delete -->
<button data-command="delete" title="Delete" class="list-tool btn btn-white pull-right" type="button">
    <span class="glyphicon glyphicon-trash text-danger"></span>
</button>