<!-- _part/tool/download -->
<button data-command="executeUrl" data-url="<%- _url(url) %>" data-selection="true" data-blank="true"
        title="Download" class="btn btn-primary" type="button">
    <span class="fa fa-download"></span>
</button>