<!-- admin/_part/tool/download -->
<button class="btn-primary btn" title="Download" type="button"
    data-command="executeUrl"
    data-url="<%- _url(url) %>"
    data-selection="true"
    data-blank="true">
  <i class="fa fa-download"></i>
</button>