<!-- _part/tool/refreshScheduler -->
<button data-jam="PostUserAction" data-url="admin/task/refresh"
        title="Refresh scheduler" class="btn-default btn" type="button">
        <span class="fa fa-retweet"></span>
</button>