<!-- admin/_part/tool/refreshScheduler -->
<button data-jam="PostUserAction" data-url="admin/task/refresh"
        title="Refresh scheduler" class="nav-btn nav-btn-primary btn" type="button">
        <i class="fa fa-retweet"></i>
</button>