<!-- admin/_part/tool/restartObserver -->
<button data-jam="PostUserAction"
        data-url="admin/listener/restart"
        title="Restart observer"
        class="nav-btn-dark nav-btn btn"
        type="button">
    <i class="fa fa-retweet"></i>
</button>