<!-- _part/tool/restartObserver -->
<button data-jam="PostUserAction" data-url="admin/listener/restart"
        title="Restart observer" class="btn-default btn" type="button">
        <span class="fa fa-retweet"></span>
</button>