<!-- admin/_part/tool/restartSecurity -->
<button data-jam="PostUserAction" data-url="admin/rbac/item/restart"
        title="Restart security" class="nav-btn nav-btn-primary btn" type="button">
        <i class="fa fa-retweet"></i>
</button>