<!-- _part/tool/restartSecurity -->
<button data-jam="PostUserAction" data-url="admin/rbac/item/restart"
        title="Restart security" class="btn-default btn" type="button">
        <span class="fa fa-retweet"></span>
</button>