<!-- _part/tool/trigger -->
<button data-jam="ModalUserAction" data-url="<%- _url('listener/trigger') %>"
        title="Trigger event" type="button" class="btn-default btn">
        <span class="fa fa-fire"></span>
</button>