<!-- admin/_part/tool/trigger -->
<button data-jam="FrameUserAction" data-url="<%- _url('listener/trigger') %>"
        title="Trigger event" type="button" class="btn-outline-success btn">
        <i class="fa fa-fire"></i>
</button>