<!-- admin/_part/tool/trigger -->
<button data-jam="FrameUserAction"
        data-url="<%- _url('listener/trigger') %>"
        title="Trigger event"
        class="btn-success btn"
        type="button">
    <i class="fa fa-fire"></i>
</button>