<!-- admin/_part/tool/trigger -->
<button data-jam="FrameUserAction" data-url="<%- _url('listener/trigger') %>"
        title="Trigger event" type="button" class="nav-btn nav-btn-primary btn">
        <i class="fa fa-fire"></i>
</button>