<!-- admin/notification/_createMessage -->

<button type="button" class="btn-success btn" title="Create notification message"
        data-jam="FrameUserAction"
        data-url="<%- _url('create-message', model) %>"
        data-reload="true">
        <i class="fa fa-play"></i>
</button>