<!-- admin/task/_run -->
<button type="button" class="btn-success btn" title="Run task"
        data-jam="PostUserAction"
        data-url="<%- _url('execute', model) %>"
        data-confirm="Execute this task now?"
        data-reload="true">
    <i class="fa fa-play"></i>
</button>