
<button type="button" class="list-tool btn btn-success" title="Run task"
        data-jam="PostUserAction"
        data-url="<%- _url('execute', model) %>"
        data-confirm="Execute this task now?"
        data-reload="true">
        <span class="fa fa-play"></span>
</button>