
<button type="button" class="list-tool btn btn-success" title="Send message"
        data-jam="PostUserAction"
        data-url="<%- _url('send', model) %>"
        data-reload="true">
        <span class="fa fa-envelope"></span>
</button>