<%
layout(_view.get('_layout/content'));
block('title', 'Управление приложением');
%>
<div class="folder card">
  <div class="card-body">
    <p>
      Модуль "Администрирование" контролирует и управляет приложением.
    </p>
    <ul>
      <li>Назначение прав доступа</li>
      <li>Контроль загруженных файлов</li>
      <li>Создание задач</li>
      <li>Отслеживание логов</li>
      <li>Оптимизация базы данных</li>
      <li>Отправка уведомлений</li>
      <li>Управление пользователями</li>
    </ul>
  </div>
</div>

<div class="card-warning card mt-3">
  <div class="card-header">
    Безопасность
  </div>
  <div class="card-body">
    <p>
      В основе системы безопасности лежит управление доступом на основе ролей (RBAC).
    </p>
    <p>
      Пользователю могут быть назначены одна или несколько ролей.
      Каждая роль содержит разрешения, которые описывают то, что можно сделать.
      <br>
      Например, создать объект или получить доступ к модулю.
    </p>
    <p>
      На разрешение может быть наложено правило, которое определяет будет ли данное разрешение получено.
      <br>
      Например, если на разрешение редактировать объект,
      наложить правило, проверяющее является ли текущий пользователь создателем объекта,
      то только автор получит право редактирования.
    </p>
    <p>
      По умолчанию роль "Гость" автоматически назначается анонимным пользователям.
    </p>
    <p>
      Не забудьте перезапустить систему безопасности, чтобы изменения вступили в силу.
    </p>
  </div>
</div>